body {
    font-family: Arial;
    margin: 40px;
    background: #f5f5f5;
}

h1 {
    color: darkgreen;
}

h2 {
    color: black;
}

ul {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
}